div.NoobUniversallyUniqueIdentifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.NoobUniversallyUniqueIdentifier .header label {
  width: 100%;
  border-bottom: 1px solid black;
}

div.NoobUniversallyUniqueIdentifier .header label select {
  width: 100%;
}

div.NoobUniversallyUniqueIdentifier .main p {
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

div.NoobUniversallyUniqueIdentifier .footer button {
  padding: 8px 6px;
  color: white;
  border: 1px solid red;
  border-radius: 4px;
  background-color: black;
}
