div.NoobWeather label {
  display: flex;
  align-items: center;
}

div.NoobWeather label span {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 2px #011a22;
}

div.NoobWeather label input {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px #1e1e00;
}

div.NoobWeather label input:focus, div.NoobWeather label input:hover {
  transform: scale(1.05);
}

div.NoobWeather div.NoobWeatherCard {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 0 10px #264d1e;
}

div.NoobWeather div.NoobWeatherCard p {
  margin-top: 10px;
  font-size: 50px;
}

div.NoobWeather div.NoobWeatherCard img,
div.NoobWeather div.NoobWeatherCard svg {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  box-shadow: 0 0 20px #1e0000;
  border-radius: 10px;
}
