div.NoobMultiLanguageApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.NoobMultiLanguageApp label {
  width: 100%;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
}

div.NoobMultiLanguageApp label span {
  font-weight: bold;
  font-family: "Press Start 2P";
}

div.NoobMultiLanguageApp div.Sentences {
  margin-top: 10px;
  padding: 10px 4px;
  box-shadow: 0 0 20px black;
  border: 1px solid rgba(109, 109, 109, 0.5);
  border-radius: 6px;
}

div.NoobMultiLanguageApp div.Sentences p span:nth-child(1) {
  color: white;
  text-transform: capitalize;
  font-family: "Courier New", Courier, cursive monospace;
}
