div.TicTacToeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
}

div.TicTacToeContainer .H3TTT {
  margin-bottom: 4px;
  padding: 4px 0;
  font-size: 30px;
  text-align: center;
  background-color: aquamarine;
}

div.TicTacToeContainer .TTTBoardContainer {
  width: 500px;
  height: 500px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: yellow;
  border-radius: 4px;
}

div.TicTacToeContainer .TTTBoardContainer button {
  border-radius: 2px;
  border: 2px solid royalblue;
  background-color: white;
  color: black;
  font-size: 500%;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.5s;
}

div.TicTacToeContainer .TTTBoardContainer button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px black;
}

div.TicTacToeContainer .TTTBoardContainer button:active {
  transform: scale(0.95);
}

div.TicTacToeContainer .resetTTT {
  width: 100%;
  margin-top: 10px;
  padding: 4px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 2px;
  background-color: aquamarine;
  border: 1px solid white;
  box-shadow: 4px 4px gray;
  transition: 0.5s;
}

div.TicTacToeContainer .resetTTT:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px gray;
}

div.TicTacToeContainer .resetTTT:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px gray;
}
