$space: 10px;

div.NoobContainer {
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  justify-content: center;
  gap: $space;
  padding: $space;

  @media only screen and (max-width: 600px) {
    & {
      grid-template-columns: auto;
    }
  }

  & > div.NoobProject {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
    overflow: auto;

    @media only screen and (max-width: 600px) {
      & {
        width: 100%;
      }
    }

    &:hover {
      background-color: rgba(172, 172, 172, 0.5);
      transform: scale(1.05);
      z-index: 10;
    }

    & > div.NoobProjectHeader {
      flex: 0 1 auto;
      margin-bottom: 10px;
      h2 {
        text-align: center;
        text-decoration: underline black;
      }
    }

    & > div.NoobProjectMain {
      position: relative;
      flex: 1 1 auto;
    }
  }
}
