div.basicosContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

div.basicosContainer > div {
  width: 500px;
  height: 500px;
  padding: 4px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  transition: 0.5s;
}

div.basicosContainer > div:hover {
  background-color: rgba(172, 172, 172, 0.5);
  transform: scale(1.1);
  z-index: 10;
}
