div.FormContainer {
  form {
    padding: 4px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px black;
    border: 1px solid black;
    border-radius: 4px;

    span,
    h3 {
      font-size: 20px;
      font-weight: bold;
      font-family: "Press Start 2P", "Courier New", Courier, cursive monospace;
    }
  }
}
