div.NoobForm form {
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px black;
  border: 1px solid black;
  border-radius: 4px;
}

div.NoobForm form span,
div.NoobForm form h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Press Start 2P", "Courier New", Courier, cursive monospace;
}

div.NoobForm form div.NoobFormButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4px;
}

div.NoobForm form div.NoobFormButtons button {
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  box-shadow: -2px -2px 4px grey;
  box-shadow: 2px 2px 4px grey;
  transition: 0.5s;
  cursor: pointer;
}

div.NoobForm form div.NoobFormButtons button:active {
  box-shadow: -1px -1px 4px black;
  box-shadow: 1px 1px 4px black;
  transform: scale(0.95);
  background-color: gray;
}

div.NoobForm form div.NoobFormButtons button:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

div.NoobForm form div.NoobFormButtons button:nth-child(1):hover {
  background-color: #ff0000;
  color: white;
}

div.NoobForm form div.NoobFormButtons button:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}

div.NoobForm form div.NoobFormButtons button:nth-child(2):hover {
  background-color: black;
  color: white;
  border: 1px solid green;
}
