div.TodoContainder li {
  display: flex;
  list-style: none;
}

div.TodoContainder li button {
  margin-left: 10px;
  background: red;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}