div.NoobDateCalc {
  input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 10px black;
  }
  div.NoobDateCalcOutput {
    width: 100%;
    p {
      width: 100%;
      font-size: 20px;
      color: white;
      transition: 0.5s;
      &:hover {
        color: lightblue;
        text-decoration: underline lightblue;
      }
      span {
        &:nth-child(1) {
          color: white;
          font-weight: bold;
        }
        &:nth-child(2) {
          width: 100%;
          color: black;
          background: lightblue;
        }
      }
    }
  }
}
