div.NoobDateCalc input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 2px 2px 10px black;
}

div.NoobDateCalc div.NoobDateCalcOutput {
  width: 100%;
}

div.NoobDateCalc div.NoobDateCalcOutput p {
  width: 100%;
  font-size: 20px;
  color: white;
  transition: 0.5s;
}

div.NoobDateCalc div.NoobDateCalcOutput p:hover {
  color: lightblue;
  text-decoration: underline lightblue;
}

div.NoobDateCalc div.NoobDateCalcOutput p span:nth-child(1) {
  color: white;
  font-weight: bold;
}

div.NoobDateCalc div.NoobDateCalcOutput p span:nth-child(2) {
  width: 100%;
  color: black;
  background: lightblue;
}
