div.TodoContainerBasic div.Input {
  display: flex;
}

div.TodoContainerBasic ul li {
  display: flex;
  align-items: center;
}

div.TodoContainerBasic ul li button {
  margin-left: 10px;
  padding: 4px 6px;
  background: red;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

div.TodoContainerBasic div.ActionBtns {
  display: flex;
  flex-direction: column;
}
