* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

html,
body,
div#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

div#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  background-color: rgb(0, 153, 255);
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label,
input,
textarea {
  cursor: pointer;
}

a {
  text-decoration: none;
}
