div.CounterContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  p {
    width: 75%;
    margin: 10px 0;
    padding: 4px;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      padding: 10px;
      border: 1px solid black;
      border-radius: 6px;
      background: green;
      font-size: 20px;
      font-size: border;
      transition: 1s;
      &:nth-child(2) {
        background: red;
      }
      &:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }
      &:active {
        transform: scale(0.9);
        opacity: 1;
      }
    }
  }
}
